# The coffee_model_training.py requires the following: 

pip install --upgrade pip
pip install streamlit
pip install streamlit scikit-learn

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
import math
import pickle


# The CoffeeType_app.py requires the following: 

import streamlit as st
import pandas as pd
import pickle
